@charset "UTF-8";

@import url("basics.css");
/* 下準備は共通でここまでに記述する */
/*footerのgrid・flex  */
.footer-flex-columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
/* footer-container部分 */
.footer-container{
    padding-top: 5.8%;
    padding-bottom: 3%;
}
@media screen and (max-width:767px) {
    .footer-container{
        padding-top: calc(59 / 375 * 100vw);
        padding-bottom: calc(10 / 375 * 100vw);
      }
}
.footer-title-grid{
    display: grid;
    grid-template-columns: minmax(auto,25%) 
    minmax(auto,25%) 
    minmax(auto,17%) 
    minmax(auto,25%) 
    minmax(auto,25%);
    justify-content: center;
    text-align: center;
}
@media screen and (max-width:767px) {
    .footer-title-grid{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}
/*footer-title部分  */
.footer-title{
    width: 100%;
    height: auto;
    padding-left: 0%;
}
@media screen and (max-width:767px) {
    .footer-title{
        width: calc(375 / 375 * 100vw);
        padding-left: calc(0 / 375 * 100vw);
        gap: calc(17 / 375 * 100vw);
      }
}
.footer-title li{
    font-size: 1.6rem;
    color: #524E4D;
}
/* footer-title各クラス部分 */
.service{
    width: 100%;
    padding-left: 0%;
}
@media screen and (max-width:767px) {
    .service{
        width: calc(375 / 375 * 100vw);
        padding-left: calc(3 / 375 * 100vw);
    }
}
.personal{
    width: 100%;
    padding-right: 35%;
}
@media screen and (max-width:767px) {
    .personal{
        width: calc(375 / 375 * 100vw);
        padding-right: calc(10 / 375 * 100vw);
    }
}
.cookie{
    width: 100%;
    padding-right: 49%;
}
@media screen and (max-width:1024px) {
    .cookie{
        width:100%;
        padding-right: 28%;
    }
}
@media screen and (max-width:767px) {
    .cookie{
        width: calc(375 / 375 * 100vw);
        padding-right: calc(11 / 375 * 100vw);
    }
}
.policy{
    width: 100%;
    padding-right: 17%;
}
@media screen and (max-width:1024px) {
    .policy{
        width: 100%;
        padding-right: 2%;
    }
}
@media screen and (max-width:767px) {
    .policy{
        width: calc(375 / 375 * 100vw);
        padding-right: calc(12 / 375 * 100vw);
    }
}
.side-map{
    width: 100%;
    padding-right: 13%;
}
@media screen and (max-width:767px) {
    .side-map{
        width: calc(375 / 375 * 100vw);
        padding-right: calc(12 / 375 * 100vw);
    }
}



