@charset "UTF-8";

@import url("basics.css");
/* 下準備は共通でここまでに記述する */
/* brand_and_event-background 全体の背景色 */
.thesauna-background{
    background-color: #CCFFCC;
}
/* brand_and_event-contents 全体の幅 */
.thesauna-contents{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 6%;
}
@media screen and (max-width:767px) {
    .thesauna-contents{
        width: calc(375 / 375 * 100vw);
        padding-left: calc(10 / 375 * 100vw);
        padding-right: calc(0 / 375 * 100vw);
        padding-bottom: calc(59 / 375 * 100vw);
    }
}
/* textエリアのgrid */
.text_grid{
    display: grid;
    grid-template-areas:
        ". . ."
        ". sub00 ."
        ". main ."
        ". . .";
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 41% 68% 78% 0%;
}
@media screen and (max-width:767px) {
    .text_grid {
        grid-template-columns: 0% 98% 0%;
        grid-template-rows: 41% 48% 50% 0%;
    }
}
.thesauna-text{
    width: 100%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna-text{
        width: calc(360 / 375 * 100vw);
        height: auto;
    }
}
/* textエリアのtext_header*/
.thesauna-text_header{
    width: 100%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna-text_header{
        width: calc(350 / 375 * 100vw);
        height: auto;
    }
}

.thesauna-text_lists{
    width: 100%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna-text_lists{
        width: calc(360 / 375 * 100vw);
        height: auto;
    }
}
.thesauna-list00{
    grid-area: sub00;
    width: 100%;
    height: auto;
    font-size: 4.8rem;
    color: #1A1916;
    text-align: center;
}
@media screen and (max-width:1080px) {
    .thesauna-list00{
        font-size: 3rem;
    }
}
@media screen and (max-width:767px) {
    .thesauna-list00{
        width: calc(352 / 375 * 100vw);
        height: auto;
        font-size: calc(18 / 375 * 100vw);
    }
}
.thesauna-list01{
    grid-area: main;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    padding-left: 2%;
}

@media screen and (max-width:767px) {
    .thesauna-list01{
        width: calc(345 / 375 * 100vw);
        height: auto;
        padding-left: calc(0 / 375 * 100vw);
    }
}
.thesauna-list01 h2{
    width: 100%;
    height: auto;
    font-size: 4.782rem;
    color: #1A1916;
    margin-right: 3%;
}
@media screen and (max-width:1080px) {
    .thesauna-list01 h2{
        font-size: 3rem;
    }
}
@media screen and (max-width:767px) {
    .thesauna-list01 h2{
        width: calc(375 / 375 * 100vw);
        height: auto;
        font-size: calc(18 / 375 * 100vw);
        margin-right: calc(18 / 375 * 100vw);
    }
}
.thesauna-list01 span{
    padding-right: 0%;
    font-size: 6rem;
    color: #1F2774;
    font-weight: bold;
    letter-spacing: -3px;
}
@media screen and (max-width:1080px) {
    .thesauna-list01 span{
        font-size: 3rem;
    }
}
@media screen and (max-width:767px) {
    .thesauna-list01 span{
        font-size: calc(24 / 375 * 100vw);
    }
}
.thesauna-list01 p{
    padding-right: 1%;
}

/* brandエリア 背景とgrid*/
.thesauna-main{
    width: 100%;
    height: auto;
    margin-top: 14.8%;
}
/* brandエリア 斜めの背景*/
.thesauna-background_border{
    width: 100%;
    height: auto;
    background: repeating-linear-gradient(
        -45deg,
        #fff 0 10px,
        #f8f5ea 10px 20px
      );
    border-color: #1F2774;
    border-style: solid;
    border-width: 5px;
    padding-bottom: 4%;
}
@media screen and (max-width:767px) {
    .thesauna-background_border{
        width: calc(350 / 375 * 100vw);
        margin-top: calc(122 / 375 * 100vw);
        padding-bottom: calc(113 / 375 * 100vw);
    }
}
/* brandエリア grid部分*/
.thesauna-grid{
    display: grid;
    grid-template-areas:
        ". brand-main-title brand-main-title ."
        ". brand_a-box  brand_b-box ."
        ". brand_c-box brand_d-box .";
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 20% 41% 41%;
    row-gap: 1rem;
    column-gap: 0.8rem;
}
@media screen and (max-width:767px) {
    .thesauna-grid{
        display: grid;
        grid-template-areas:
            "brand-main-title"
            "brand_a-box"
            "brand_b-box"
            "brand_c-box"
            "brand_d-box";
        grid-template-columns: 100%;
        grid-template-rows: 17% 23% 23% 23% 30%;
        row-gap: calc(0 / 375 * 100vw);
        column-gap: calc(0 / 375 * 100vw);
    }
}
/* brandエリア flex部分縦にする*/
.thesauna-title-flex{
    display: flex;
    flex-direction: column;
}
.flex{
    display: flex;
    flex-direction: row;
}

/* brandエリア title部分*/
.thesauna-main-title{
    width: 100%;
    height: auto;
    grid-area: brand-main-title;
}
@media screen and (max-width:767px) {
    .thesauna-main-title{
        width: calc(300 / 375 * 100vw);
        grid-area: brand-main-title;
    }
}
.thesauna-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 3.3%;
}
@media screen and (max-width:767px) {
    .thesauna-title{
        width: calc(300 / 375 * 100vw);
        padding-top: calc(46 / 375 * 100vw);
    }
}
.thesauna-title h2{
    width: 100%;
    height: auto;
    font-size: 5.4rem;
    color: #1A1916;
    font-weight: bold;
}
@media screen and (max-width:767px) {
    .thesauna-title h2{
        width: calc(127 / 375 * 100vw);
        font-size: calc(48 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
    }
}
.thesauna-title_underline{
    width: 97.5%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
@media screen and (max-width:767px) {
    .thesauna-title_underline{
        width: calc(341 / 375 * 100vw);
        padding-top: calc(8 / 375 * 100vw);
    }
}
.thesauna-title_underline span{
    width: 8.7rem;
    height: 0.5rem;
    background-color: #1F2774;
    display: block;
}
@media screen and (max-width:767px) {
    .thesauna-title_underline span{
        width: calc(88 / 375 * 100vw);
        height: calc(5 / 375 * 100vw);
    }
}
/* brandエリア boxのflex部分*/
/* .thesauna-flex{
    display: flex;
} */
/* brandエリア boxのrow-reverse部分*/
/* @media screen and (max-width:767px) {
    .row-reverse{
        flex-direction: row-reverse;
    }
} */
/* brandエリア brand_a-box部分*/
/* .thesauna_a-box{
    width: 100%;
    height: auto;
    grid-area: brand_a-box;
}
@media screen and (max-width:767px) {
    .thesauna_a-box{
        width: calc(340 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
    }
}
.thesauna_a-box_img{
    width: 40%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_img{
        width: calc(145 / 375 * 100vw);
        padding-top: calc(11 / 375 * 100vw);
    }
}
.thesauna_a-box_img img{
    width: 95%;
    height: auto;
    padding-top: 30%;
    padding-left: 14.6%;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_img img{
        width: calc(156 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        padding-left: calc(11 / 375 * 100vw);
    }
}
.thesauna_a-box_text{
    width: 60%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_text{
        width: calc(192 / 375 * 100vw);
    }
}
.thesauna_a-box_text_title{
    width: 100%;
    height: auto;
    padding-top: 18.2%;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_text_title{
        width: calc(180 / 375 * 100vw);
        padding-top: calc(6 / 375 * 100vw);
    }
}
.thesauna_a-box_text_title p{
    width: 100%;
    height: auto;
    font-size: 2.8rem;
    color: #1A1916;
    font-weight: bold;
    padding-left: 6%;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_text_title p{
        width: calc(157 / 375 * 100vw);
        font-size: calc(24 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        padding-left: calc(42 / 375 * 100vw);
    }
}
.thesauna_a-box_text_main{
    width: 91%;
    height: auto;
    padding-top: 7%;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_text_main{
        width: calc(100 / 375 * 100vw);
        padding-top: calc(14 / 375 * 100vw);
    }
}
.thesauna_a-box_text_main p{
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: #1A1916;
    line-height: 1.7;
    padding-left: 8%;
}
@media screen and (max-width:767px) {
    .thesauna_a-box_text_main p{
        width: calc(188 / 375 * 100vw);
        font-size: calc(14 / 375 * 100vw);
        padding-left: calc(42 / 375 * 100vw);
        line-height: 1.4;
    }
} */
/* brandエリア brand_b-box部分*/
/* .thesauna_b-box{
    width: 100%;
    height: auto;
    grid-area: brand_b-box;
}
@media screen and (max-width:767px) {
    .thesauna_b-box{
        width: calc(340 / 375 * 100vw);
    }
}
.thesauna_b-box_img{
    width: 34%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_img{
        width: calc(154 / 375 * 100vw);
    }
}
.thesauna_b-box_img img{
    width: 93%;
    height: auto;
    padding-top: 35%;
    padding-left: 0%;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_img img{
        width: calc(149 / 375 * 100vw);
        padding-top: calc(4 / 375 * 100vw);
        padding-left: calc(0 / 375 * 100vw);
    }
}
.thesauna_b-box_text{
    width: 60%;
    height: auto;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_text{
        width: calc(175 / 375 * 100vw);
    }
}
.thesauna_b-box_text_title{
    width: 100%;
    height: auto;
    padding-top: 18%;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_text_title{
        width: calc(100 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
    }
}
.thesauna_b-box_text_title p{
    width: 100%;
    height: auto;
    font-size: 2.8rem;
    color: #1A1916;
    font-weight: bold;
    padding-left: 5%;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_text_title p{
        width: calc(144 / 375 * 100vw);
        font-size: calc(24 / 375 * 100vw);
        padding-top: calc(10 / 375 * 100vw);
        padding-left: calc(1 / 375 * 100vw);
        letter-spacing: 4px;
    }
}
.thesauna_b-box_text_main{
    width: 91%;
    height: auto;
    padding-top: 7%;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_text_main{
        width: calc(120 / 375 * 100vw);
        padding-top: calc(19 / 375 * 100vw);
    }
}
.thesauna_b-box_text_main p{
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: #1A1916;
    line-height: 1.7;
    padding-left: 8%;
}
@media screen and (max-width:767px) {
    .thesauna_b-box_text_main p{
        width: calc(143 / 375 * 100vw);
        font-size: calc(14 / 375 * 100vw);
        padding-left: calc(0 / 375 * 100vw);
        line-height: 1.4;
    }
} */

/* eventエリア 背景とgrid*/
.thesauna-main{
    width: 100%;
    height: auto;
    margin-top: 7%;
}
/* eventエリア 斜めの背景*/
.thesauna-background_border{
    width: 100%;
    height: auto;
    background: repeating-linear-gradient(
        -45deg,
        #fff 0 10px,
        #f8f5ea 10px 20px
      );
    border-color: #1F2774;
    border-style: solid;
    border-width: 5px;
    padding-bottom: 8%;
}
@media screen and (max-width:767px) {
    .thesauna-background_border{
        width: calc(350 / 375 * 100vw);
        margin-top: calc(62 / 375 * 100vw);
        margin-left: calc(3 / 375 * 100vw);
        padding-bottom: calc(164 / 375 * 100vw);
    }
}
/* thesaunaエリア grid部分*/
.thesauna-grid{
    display: grid;
    grid-template-areas:
        ". thesauna-main-title thesauna-main-title ."
        ". thesauna_01-box_img  thesauna_01-box_text ."
        ". thesauna_02-box_text thesauna_02-box_img ."
        ". . . .";
    grid-template-columns: 5% 44% 44% 5%;
    grid-template-rows: 17% 44% 44% 4%;
    row-gap: 1rem;
    column-gap: 0.8rem;
}
@media screen and (max-width:767px) {
    .thesauna-grid{
        display: grid;
        grid-template-areas:
            "thesauna-main-title"
            "."
            "thesauna_02-box_img"
            "thesauna_02-box_img"
            "."
            "thesauna_02-box_text"
            "thesauna_02-box_text"
            "."
            "thesauna_01-box_img"
            "thesauna_01-box_img"
            "."
            "thesauna_01-box_text"
            "thesauna_01-box_text"
            ".";
        grid-template-columns: 100%;
        grid-template-rows: 16% 
        auto 22% auto auto 
        27% auto auto 
        22% auto auto 
        29% auto auto;
        row-gap: calc(0 / 375 * 100vw);
        column-gap: calc(0 / 375 * 100vw);
    }
}
/* event flex部分縦にする*/
.thesauna-title-flex, .thesauna_text-flex{
    display: flex;
    flex-direction: column;
}

/* eventエリア title部分*/
.thesauna-main-title{
    width: 100%;
    height: auto;
    grid-area: thesauna-main-title;
}
@media screen and (max-width:767px) {
    .thesauna-main-title{
        width: calc(300 / 375 * 100vw);
        grid-area: thesauna-main-title;
    }
}
.thesauna-title{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    padding-top: 2.8%;
    text-align: center;
    align-items: center;
}
@media screen and (max-width:767px) {
    .thesauna-title{
        width: calc(300 / 375 * 100vw);
        padding-top: calc(59 / 375 * 100vw);
    }
}
.thesauna-title h2{
    width: 100%;
    height: auto;
    font-size: 6.4rem;
    color: #1A1916;
    font-weight: bold;
}
@media screen and (max-width:1140px) {
    .thesauna-title h2{

        font-size: 4.4rem;
    }
}
@media screen and (max-width:790px) {
    .thesauna-title h2{

        font-size: 3.4rem;
    }
}
@media screen and (max-width:767px) {
    .thesauna-title h2{
        width: calc(94 / 375 * 100vw);
        font-size: calc(48 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
    }
}
.thesauna-title_underline{
    width: 98.5%;
    height: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 1%;
}
@media screen and (max-width:767px) {
    .thesauna-title_underline{
        width: calc(349 / 375 * 100vw);
        padding-top: calc(12 / 375 * 100vw);
    }
}
.thesauna-title_underline span{
    width: 61.7rem;
    height: 0.5rem;
    background-color: #1F2774;
    display: block;
}
@media screen and (max-width:767px) {
    .thesauna-title_underline span{
        width: calc(88 / 375 * 100vw);
        height: calc(5 / 375 * 100vw);
    }
}
/* thesaunaエリア thesauna_01-box部分*/

.thesauna_01-box_img{
    width: 100%;
    height: auto;
    grid-area: thesauna_01-box_img;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_img{
        width: calc(300 / 375 * 100vw);
        padding-top: calc(4 / 375 * 100vw);
    }
}
.thesauna_01-box_img img{
    width: 55%;
    height: auto;
    padding-top: 7.3%;
    padding-left: 8%;
    margin-left: 19%;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_img img{
        width: calc(320 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        padding-left: calc(19 / 375 * 100vw);
        margin-top: calc(-9 / 375 * 100vw);
    }
}
.thesauna_01-box_text{
    width: 100%;
    height: auto;
    grid-area: thesauna_01-box_text;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_text{
        width: calc(310 / 375 * 100vw);
    }
}
.thesauna_01-box_text_title{
    width: 100%;
    height: auto;
    padding-top: 16.9%;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_text_title{
        width: calc(300 / 375 * 100vw);
        padding-top: calc(4 / 375 * 100vw);
    }
}
.thesauna_01-box_text_title p{
    width: 100%;
    height: auto;
    font-size: 2.8rem;
    color: #1A1916;
    font-weight: bold;
    padding-left: 1%;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_text_title p{
        width: calc(320 / 375 * 100vw);
        font-size: calc(24 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        padding-left: calc(28 / 375 * 100vw);
        letter-spacing: 4px;
        margin-top: calc(-5 / 375 * 100vw);
    }
}
.thesauna_01-box_text_main{
    width: 93%;
    height: auto;
    padding-top: 4%;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_text_main{
        width: calc(350/ 375 * 100vw);
        padding-top: calc(13 / 375 * 100vw);
    }
}
.thesauna_01-box_text_main p{
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: #1A1916;
    line-height: 1.7;
    padding-left: 3%;
}
@media screen and (max-width:767px) {
    .thesauna_01-box_text_main p{
        width: calc(320 / 375 * 100vw);
        font-size: calc(15 / 375 * 100vw);
        padding-left: calc(21 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        padding-right: calc(0 / 375 * 100vw);
        margin-top: calc(10 / 375 * 100vw);
    }
}
/* eventエリア event_02-box部分*/

.thesauna_02-box_img{
    width: 100%;
    height: auto;
    grid-area: thesauna_02-box_img;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_img{
        width: calc(300 / 375 * 100vw);
        padding-top: calc(15 / 375 * 100vw);
    }
}
.thesauna_02-box_img img{
    width: 94%;
    height: auto;
    padding-top: 1.6%;
    padding-left: 2%;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_img img{
        width: calc(324 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        padding-left: calc(22 / 375 * 100vw);
        margin-top: calc(3 / 375 * 100vw);
        margin-right: calc(0 / 375 * 100vw);
    }
}
.thesauna_02-box_text{
    width: 100%;
    height: auto;
    grid-area: thesauna_02-box_text;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_text{
        width: calc(340 / 375 * 100vw);
        grid-area: thesauna_02-box_text;
    }
}
.thesauna_02-box_text_title{
    width: 100%;
    height: auto;
    padding-top: 10.7%;
    margin-left: 2%;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_text_title{
        width: calc(310 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
    }
}
.thesauna_02-box_text_title p{
    width: 100%;
    height: auto;
    font-size: 2.8rem;
    color: #1A1916;
    font-weight: bold;
    padding-left: 5%;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_text_title p{
        width: calc(320 / 375 * 100vw);
        font-size: calc(24 / 375 * 100vw);
        padding-top: calc(1 / 375 * 100vw);
        padding-left: calc(25 / 375 * 100vw);
        letter-spacing: 3.8px;
    }
}
.thesauna_02-box_text_main{
    width: 97%;
    height: auto;
    padding-top: 4%;
    margin-left: 1%;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_text_main{
        width: calc(330/ 375 * 100vw);
        padding-top: calc(20 / 375 * 100vw);
        letter-spacing: 0px;
    }
}
.thesauna_02-box_text_main p{
    width: 100%;
    height: auto;
    font-size: 1.6rem;
    color: #1A1916;
    line-height: 1.7;
    padding-left: 6%;
}
@media screen and (max-width:767px) {
    .thesauna_02-box_text_main p{
        width: calc(320 / 375 * 100vw);
        font-size: calc(14 / 375 * 100vw);
        padding-left: calc(23 / 375 * 100vw);
        padding-top: calc(0 / 375 * 100vw);
        letter-spacing: 0.7px;
        line-height: 1.6;
        margin-top: calc(-5 / 375 * 100vw);
    }
}