@charset "UTF-8";

@import url("basics.css");

/* aspect-ratio_sample-content  */
.aspect-ratio_sample-content{
    width: 100%;
    height: auto;
    background-color: #CCFFFF;
}
/* aspect-ratio-title の内容*/
.aspect-ratio-title{
    width: 10%;
    height: auto;
    justify-content: end;
}
/* aspect-ratioのサンプルの本番ここで丸いアイコンを作成して
ブラウザの拡大縮小に対応できるようにする */
.title-mark{
    width: 62%;
    aspect-ratio: 1 / 1;
    border-color: #5BFF7F;
    border-style: solid;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
}
.title-mark p{
    font-size: 1.7rem;
    color: #FFBEDA;
}
h1{
    width: 80%;
    font-size: 4.5rem;
    color: #008000;
}

