@charset "UTF-8";

body{
    font-family: 'Noto Sans JP', sans-serif;
}
html {
    font-size: 62.5%;
}

@media screen and (max-width:767px) {
    html {
        font-size: calc(10 / 375 * 100vw);
      }
}

ul li {
    list-style: none;
}
/* 今回flexとgridの共通化ができるかのテストも兼ねる */
/* aspect-ratio_flex */
.aspect-ratio_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* aspect-ratio_flex-column */
.aspect-ratio_flex-column{
    display: flex;
    flex-direction: column;
}

/* 今回flexとgridの共通化ができるかのテストも兼ねる
追加でgridはエリア・ラインを使用したことはあったが、トラックはまだなので
ここで試してみる2024/05/11 */
